@import '../../assets/css/variables.css';

.navigation-container {
	padding: 10px 0 10px 0;
}

.navigation-link {
	margin-right: 5%;
	list-style: none;
	text-decoration: none;
	color: var(--dark-color);
}
